<!-- footer -->
    <footer class="page-footer font-small" style="background: #bdbfc2;">
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="https://github.com/vkpati20"> Veerendranath Korrapati</a>
          </div>
    </footer>
    </body>
</html>