<!-- header -->
<!DOCTYPE html>
<html>
    <head>
        <title>Best Places Blog</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
