<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Best Places Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        <link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>
        <div class="bg">
            <div class="heading">
                <h1>Welcome to my blogs website</h1>
            </div>
            <div class="bar">
                <div class="git-btn">
                    <button onclick="location.href='https://github.com/vkpati20'" type="button" class="btn btn-success btn-lg">
                        <i class="fa fa-github"></i>
                        See on Github
                    </button>
                </div>
                <div class="blog-btn">
                    <button onclick="location.href='/places'" type="button" class="btn btn-primary btn-lg">Take me to blog</button>
                </div>
            </div>
        </div>
	</body>
</html>