<!-- Login form -->
<%- include("./partials/header") %>

<div class="container">
    <div class="title">
        <h3>Login</h3>
    </div>
    <div class="row center">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <form action="/login" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <div class="links" style="display: flex; justify-content: space-between;">
                <div class="link-1">
                    <a href="/places">Go Back</a>
                </div>
                <div class="link-2">
                    <span>Don't have an account?</span>
                    <a href="/register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>