body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("img.jpg");
  
    /* Full height */
    height: 100%;
 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
	position: absolute;
	width: 100%;
	color: white;
	text-align: center;
	top: 15%;
}

.bar{
	position: absolute;
    width: 100%;
    height: auto;
    display: flex;
	justify-content: center;
	top:40%;
}


.bar div{
    margin: 0 20px;
}



@media(max-height: 500px){
	.bar{
		top: 70%;
	}
}
@media(max-width: 400px){
	.bar{
		display: grid;
	}
	.bar div{
		margin: 20px auto;
	}
}